.navbar-root {
    background-color: green;
    height: 13vh;
    display: flex;
}

.menu-btn {
    display: block;
    width: 8vw;
    height: 13vh;
}

.menu-btn-line {
    background-color: white;
    display: block;
    position: relative;
    height: 1.5vh;
    width: 50px;
    left: 2vw;
    border-radius: 0.75vh;
    -webkit-transition-property: all;
    -webkit-transition-delay: 2s;
    -webkit-transition: 0.5s;
    transition-property: all;
    transition-delay: 2s;
    transition: 0.5s;
}

.menu-btn-top-line-active {
    left: 30vw;
    margin-top: 5.75vh;
    transform: rotate(45deg);
}

.menu-btn-top-line-inactive {
    left: 2vw;
    margin-top: 3vh;
    transform: rotate(0deg);
}

.menu-btn-mid-line-active {
    left: -20vw;
    margin-top: 0vh;
}

.menu-btn-mid-line-inactive {
    left: 2vw;
    margin-top: 1.5vh;
}

.menu-btn-bot-line-active {
    left: 30vw;
    margin-top: -2.75vh;
    transform: rotate(135deg);
}

.menu-btn-bot-line-inactive {
    left: 2vw;
    margin-top: 1.25vh;
    transform: rotate(0deg);
}

/* MenuView stylings */
.menu-view {
    background-color: darkgreen;
    position: absolute;
    width: 40vw;
    height: 87vh;
    top: 13vh;
}

/* Position of menu when open (active)*/
.menu-view-active {
    left: 0vw;
}

/* Position of menu when closed (inactive)*/
.menu-view-inactive {
    left: -40vw;
}

/* MenuTabView stylings */
.menu-tab-element {

}